{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

    <div class="row justify-content-center mb-3">
      <div class="col-md-9 text-center">
        <h1 id="hometext" class="font-weight-bold">Добро пожаловать в моё портфолио!😊</h1>
      </div>
    </div>

    <div class="row justify-content-center my-3">
      <div class="col-5">
        <img src="{% static 'portfolio/red_cat.jpg' %}" class="img-fluid">
      </div>
    </div>


<h2 class="mt-5">Мои проекты</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

        {% if project.url %}
            <a href="{{ project.url }}"  target="_blank"><img src="{{ project.image.url }}" class="img-fluid mb-2"></img></a>
            <a href="{{ project.url }}"  target="_blank"><h3>{{ project.title }}</h3></a>
        {% else %}
            <img src="{{ project.image.url }}"class="img-fluid mb-2"></img>
            <h3>{{ project.title }}</h3>
        {% endif %}

        <p>{{ project.description }}</p>
  </div>
    {% endfor %}
</div>

{% endblock %}





